.cards {
  display: flex;
  gap: 24px;
  margin-top: 88px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .cards {
    gap: 50px;
    display: grid;
  }
}
@media screen and (max-width: 907px) {
  .cards {
    margin-top: 50px;
  }
}