.dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 570px) {
  .dot {
    width: 5px;
    height: 5px;
  }
}