/* inter fonts */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url("./fonts/inter/Inter-Regular.woff2") format("woff2"),
  url("./fonts/inter/Inter-Regular.woff") format("woff"),
  url('./fonts/inter/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url("./fonts/inter/Inter-Medium.woff2") format("woff2"),
  url("./fonts/inter/Inter-Medium.woff") format("woff"),
  url('./fonts/inter/Inter-Medium.ttf') format('truetype');
}

/* Montserrat fonts */
@font-face {
	font-family: 'Montserrat';
  font-weight: 600;
	src: url('./fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('./fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
  font-weight: 700;
	src: url('./fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('./fonts/montserrat/Montserrat-Bold.woff') format('woff');
}


@keyframes appearance {
  from {
    height: 0;
    top: -50%;
  }
  to {
    height: 588px;
    top: 0;
  }
}
@keyframes uprising {
  from {
    top: 50%;
  }
  to {
    top: 81px;
  }
}




.body {
  margin: 0;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.section-padding {
  padding: 80px 0;
}
.section-title {
  letter-spacing: -0.01em;
  font-size: 36px;
  line-height: 150%;
  color: #192252;
  font-family: 'Montserrat';
  font-weight: 600;
}

.section-subtitle {
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  font-family: 'Inter';
  font-weight: 400;
}
.link-padding-indent {
  padding: 16px 32px;
}
.link-opacity {
  transition: opacity .3s ease;
}
.link-opacity:hover {
  opacity: .5;
}
.link-shadow {
  transition: box-shadow .2s linear;
}
.link-shadow:hover {
  box-shadow: 0 0 10px #000;
}


.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 41px 0 32px 0;
}
.logo {
  max-width: 228px;
  font-size: 32px;
  line-height: 39px;
}
.logo_place_header {
  margin: 5px 0 0 0;
  font-family: 'Montserrat';
  font-weight: 600;
}
.logo__header-link {
  color: #192252;
  text-decoration: none;
}
.logo__header-link:hover {
  text-shadow: 0 3px 4px #848FAC;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.header__navigation {
  margin-top: 16px;
}
.header__lists {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 36px;
  list-style-type: none;
}
.header__list {
  font-size: 16px;
  line-height: 19px;
  font-family: 'Inter';
  font-weight: 500;
}

.header__list-link {
  text-decoration: none;
  color: #192252;
}
.booking-link {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #fff;
  background-color: #0E1734;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Inter';
  font-weight: 500;
}
.booking-link_header_padding-indent {
  padding: 14px 16px;
}


.rent {
  max-width: 1200px;
  min-height: 685px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.rent__text-block {
  margin: 135px 24px 0 0;
  max-width: 587px;
}
.rent__title {
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
  max-width: 587px;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 600;
}
.rent__subtitle {
  max-width: 485px;
  margin: 24px 0 0 0;
}
.booking-link_rent_margin-indent {
  margin-top: 59px;
}
.rent__img-block {
  display: flex;
  gap: 24px;
}
.rent__image {
  width: 180px;
  height: 588px;
  box-shadow: 0 3px 7px #000;
  position: relative;
}
.rent__image_type_position {
  position: relative;
  top: 81px;
}
.rent__image_animation_block {
  animation: appearance 1s linear forwards;
}
.rent__image_animation_block-second {
  animation: uprising 1s linear forwards;
}




.about-us {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.about-us__image {
  width: 384px;
  height: 576px;
}
.about-us__text-block {
  margin: 108px 0 0 126px;
  max-width: 690px;
}
.about-us__title {
  max-width: 690px;
  margin: 0;
}
.about-us__subtitle {
  margin: 28px 0 0 0;
  max-width: 584px;
}
.booking-link_about-us_margin-indent {
  margin-top: 17px;
}



.benefit {
  max-width: 1094px;
  margin-left: 120px;
}
.benefit-block {
  width: 100%;
  min-height: 384px;
  display: flex;
  gap: 126px;
  margin-top: 32px;
}
.benefit-block:first-of-type {
  margin: 0;
}
.benefit-block__text-block {
  max-width: 584px;
}
.benefit-block__title {
  margin: 92px 0 0 0;
}
.benefit-block__subtitle {
  margin: 24px 0 0 0;
  max-width: 584px;
}
.benefit-block__image {
  width: 384px;
  height: 384px;
}



.interiors {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.interiors__title {
  margin: 0;
  max-width: 446px;
}
.interiors__img-block {
  max-width: 1437px;
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  gap: 3px;
}
.interiors__container {
  position: relative;
  display: flex;
  justify-content: center;
}
.interiors__main-image {
  width: 100%;
  height: 585px;
}
.dots-block {
  max-width: 71px;
  position: absolute;
  bottom: 29px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.dots-block_type_position {
  position: static;
  margin-top: 24px;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  cursor: pointer;
}
.dot_active {
  width: 12px;
  height: 12px;
  background-color: #FAB047;
}
.dot_style_color {
  background-color: rgba(250, 176, 71, 0.35);
}
.interiors__img-list {
  max-width: 344px;
  height: 585px;
}
.interiors__image {
  width: 100%;
  height: 193px;
}






.reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1016px;
}
.reservation__title {
  max-width: 446px;
  margin: 0;
}
.reservation__subtitle {
  max-width: 588px;
  margin: 24px 0 0 0;
  text-align: center;
}
.booking-link_reservation_margin-indent {
  margin-top: 32px;
}
.cards {
  display: flex;
  gap: 24px;
  margin-top: 88px;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
}
.card {
  position: relative;
}
.card__image {
  width: 384px;
  height: 489px;
}
.card__title {
  font-size: 24px;
  line-height: 150%;
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 32px 0 0 0;
  max-width: 238px;
}
.card__subtitle {
  max-width: 384px;
  margin: 16px 0 0 0;
}
.card__link {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  color: #424F7B;
  font-size: 18px;
  line-height: 150%;
  max-width: 129px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card__link::after {
  content: url(./images/arrow-right.svg);
  width: 20px;
  height: 20px;
  margin-left: 10px;
  align-self: center;
}





.reviews {
  max-width: 793px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.reviews__title {
  margin: 0;
  max-width: 630px;
  text-align: center;
}
.reviews__image {
  width: 120px;
  height: 120px;
  margin-top: 62px;
}
.reviews__subtitle {
  width: 100%;
  text-align: center;
  margin: 44px 0 0 0;
}
.reviews__author {
  max-width: 152px;
  margin: 40px 0 0 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #192252;
}




.footer {
  max-width: 1200px;
  padding: 116px 120px 120px 120px;
  background-color: #0B265A;
  display: flex;
  justify-content: space-between;
}
.logo_place_footer {
  letter-spacing: -0.01em;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 4px 0 0 0;
}
.footer__subtitle {
  max-width: 186px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #D9DBDE;
  margin: 13px 0 0 0;
}
.footer__social {
  margin-top: 39px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__twitter-icon {
  display: block;
  width: 32px;
  height: 32px;
}
.footer__vk-icon {
  display: block;
  width: 43px;
  height: 26px;
}
.footer__navigation {
  display: flex;
  gap: 94px;
}
.footer__title {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #fff;
  margin: 0;
}
.footer__lists {
  list-style-type: none;
  margin: 6px 0 0 0;
  padding: 0;
}
.footer__lists_name_house {
  max-width: 144px;
}
.footer__lists_name_booking {
  max-width: 134px;
}
.footer__lists_name_contacts {
  max-width: 186px;
}
.footer__list {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 24px;
}
.footer__link-list {
  color: #D9DBDE;
  text-decoration: none;
}
.footer__contacts {
  font-style: normal;
}
.footer__phone {
  opacity: 0.8;
}


















@media screen and (max-width: 1199px) {
  @keyframes appearance {
    from {
      height: 0;
    }
    to {
      height: 488px;
    }
  }
  .header {
    justify-content: space-around;
  }
  
  .rent {
    min-height: 630px;
    justify-content: space-evenly;
  }
  .rent__title {
    font-size: 35px;
    max-width: 400px;
  }
  .rent__subtitle {
    max-width: 380px;
    margin-top: 16px;
  }
  .rent__img-block {
    gap: 20px;
  }
  .rent__image {
    width: 140px;
    height: 488px;
  }


  .section-title {
    font-size: 28px;
  }
  .section-subtitle {
    font-size: 16px;
  }



  .about-us {
    min-height: 500px;
    justify-content: space-evenly;
  }
  .about-us__image {
    width: 330px;
    height: 500px;
  }
  .about-us__text-block {
    max-width: 500px;
    margin-left: 60px;
  }
  .about-us__subtitle {
    margin-top: 20px;
  }


  .benefit {
    margin: 0 auto;
  }
  .benefit-block {
    gap: 80px;
    min-height: 0;
    justify-content: center;
  }
  .benefit-block__text-block {
    max-width: 480px;
  }
  .benefit-block__subtitle {
    margin-top: 16px;
  }
  .benefit-block__image {
    width: 330px;
    height: 330px;
  }



  .interiors__img-block {
    grid-template-rows: repeat(2, minmax(min-content, max-content));
  }
  .interiors__img-list {
    display: flex;
    height: auto;
    grid-row: 2/3;
    gap: 3px;
    max-width: 100%;
  }
  .interiors__image {
    width: 33%;
  }


  .reservation {
    min-height: 2400px;
  }
  .cards {
    gap: 50px;
    display: grid;
  }
  .card__image {
    width: 100%;
  }


  .footer {
    padding: 80px 20px;
  }
  .footer__navigation {
    gap: 50px;
  }
}

@media screen and (max-width: 907px) {
  @keyframes appearance {
    from {
      height: 0;
    }
    to {
      height: 388px;
    }
  }
  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-title {
    font-size: 18px;
  }
  
  .section-subtitle {
    font-size: 12px;
  }
  .link-padding-indent {
    padding: 10px 20px;
  }



  .logo {
    font-size: 20px;
  }
  .header__lists {
    gap: 30px;
  }
  .header__list {
    font-size: 12px;
  }
  .booking-link {
    font-size: 12px;
  }
  .booking-link_header_padding-indent {
    padding-top: 12px;
    padding-bottom: 12px;
  }


  .rent {
    min-height: 500px;
  }
  .rent__text-block {
    margin: 135px 24px 0 0;
    max-width: 587px;
  }
  .rent__title {
    font-size: 22px;
  }
  .booking-link_rent_margin-indent {
    margin-top: 40px;
  }
  .rent__image {
    width: 100px;
    height: 388px;
  }



  .about-us__text-block {
    margin-left: 30px;
  }
  .about-us__image {
    width: 300px;
    height: 430px;
  }




  .benefit-block {
    gap: 20px;
  }
  .benefit-block__text-block {
    max-width: 380px;
  }
  .benefit-block__image {
    width: 300px;
    height: 300px;
  }



  .interiors {
    padding-top: 60px;
  }
  .interiors__img-list {
    width: 100%;
    height: auto;
  }
  .interiors__image {
    width: 33%;
    height: 150px;
  }
  .interiors__main-image {
    height: 400px;
  }












  .reservation {
    min-height: 2220px;
  }
  .reservation__subtitle {
    max-width: 400px;
    margin-top: 16px;
  }
  .booking-link_reservation_margin-indent {
    margin-top: 25px;
  }
  .cards {
    gap: 50px;
    margin-top: 50px;
  }

  .card__title {
    font-size: 20px;
    margin-top: 25px;
  }



  .reviews__image {
    width: 100px;
    height: 100px;
    margin-top: 30px;
  }
  .reviews__subtitle {
    max-width: 480px;
    margin-top: 30px;
  }
  .reviews__author {
    font-size: 18px;
  }




  .footer__subtitle {
    font-size: 13px;
    line-height: 20px;
    margin-top: 8px;
  }
  .footer__social {
    margin-top: 25px;
  }
  .footer__title {
    font-size: 13px;
    line-height: 19px;
  }
  .footer__list {
    font-size: 12px;
    margin-top: 15px;
  }
  .footer__lists_name_contacts {
    max-width: 100px;
  }
  .footer__navigation {
    gap: 20px;
  }
}

@media screen and (max-width: 570px) {
  
}