.section-subtitle {
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  font-family: 'Inter';
  font-weight: 400;
}
@media screen and (max-width: 1199px) {
  .section-subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 907px) {
  .section-subtitle {
    font-size: 12px;
  }
}
@media screen and (max-width: 570px) {
  .section-subtitle {
    font-size: 12px;
  }
}