.section-padding {
  padding: 80px 0;
}
@media screen and (max-width: 907px) {
  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 570px) {
  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}