.card__title {
  font-size: 24px;
  line-height: 150%;
  font-family: 'Montserrat', 'calibri', sans-serif;
  font-weight: 600;
  margin: 30px 0 0 0;
  max-width: 238px;
}
@media screen and (max-width: 907px) {
  .card__title {
    font-size: 20px;
    margin-top: 25px;
  }
}